$white-color: #f9f1ef;

$green-color: #edac72;
$blueTwo-color: #122539;

.natour {
  margin-top: 200px;
  width: 100%;
  position: relative;
  height: 1070px;

  &__img_top {
    position: absolute;
    width: 792px;
    height: 575px;
    object-fit: cover;
    right: 232px;
    top: 0;
    z-index: 2;
  }

  &__img_left {
    position: absolute;
    width: 444px;
    height: 576px;
    object-fit: cover;
    left: 0;
    top: 231px;
    z-index: 3;
  }

  &__img_right {
    position: absolute;
    width: 558px;
    height: 706px;
    object-fit: cover;
    right: 116px;
    top: 498px;
    z-index: 1;
  }

  &__block_top {
    position: absolute;
    background-color: $green-color;
    width: 1140px;
    height: 554px;
    right: 0;
    top: 103px;
    z-index: -1;
  }

  &__block_buttom {
    position: absolute;
    width: 28px;
    height: 314px;
    background-color: $green-color;
    left: 184px;
    top: 737px;
    z-index: 4;
  }

  &__subtitle {
    position: absolute;
    font-weight: 400;
    font-size: 60px;
    line-height: 44px;
    letter-spacing: 4px;
    left: 232px;
    top: 810px;
    color: $blueTwo-color;
  }

  &__desc {
    position: absolute;
    background-color: $white-color;
    text-align: start;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 4px;
    color: $blueTwo-color;
    width: 928px;
    height: 207px;
    padding: 15px 0 9px 0 9px;
    right: 212px;
    top: 1023px;
    z-index: 5;
  }

  &__title {
    position: absolute;
    color: $white-color;
    line-height: 76px;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 76px;
    right: 103px;
    top: 238px;
    z-index: 6;
  }
}

@media (max-width: 1367px) {
  .natour {
    margin-top: 150px;

    &__img_top {
      width: 673px;
      height: 482px;
      right: 231px;
    }

    &__img_left {
      position: absolute;
      width: 367px;
      height: 483px;
      top: 185px;
    }

    &__img_right {
      width: 443px;
      height: 592px;
      right: 116px;
      top: 418px;
    }

    &__block_top {
      width: 1020px;
      height: 465px;
      right: 61px;
      top: 95px;
    }

    &__block_buttom {
      width: 23px;
      height: 263px;
      left: 188px;
      top: 625px;
    }

    &__subtitle {
      font-size: 43px;
      left: 231px;
      top: 691px;
    }

    &__desc {
      font-size: 16px;
      width: 768px;
      height: 173px;
      padding: 19px 10px 39px 9px;
      right: 177px;
      top: 896px;
    }

    &__title {
      font-size: 59px;
      right: 140px;
      top: 187px;
    }
  }

  .span__one {
    display: none;
  }
}

@media (max-width: 992px) {
  .natour {
    margin-top: 100px;
    height: 750px;

    &__img_top {
      width: 471px;
      height: 337px;
      right: 116px;
    }

    &__img_left {
      width: 257px;
      height: 338px;
      top: 130px;
    }

    &__img_right {
      width: 310px;
      height: 414px;
      right: 34px;
      top: 282px;
    }

    &__block_top {
      width: 714px;
      height: 325px;
      right: 0px;
      top: 68px;
    }

    &__block_buttom {
      width: 16px;
      height: 180px;
      left: 131px;
      top: 440px;
    }

    &__subtitle {
      font-size: 28px;
      left: 161px;
      top: 487px;
      line-height: 24px;
    }

    &__desc {
      font-size: 15px;
      width: 538px;
      height: 121px;
      padding: 8px 8px;
      line-height: 18px;
      letter-spacing: 2px;
      right: 77px;
      top: 631px;
    }

    &__title {
      font-size: 42px;
      right: 37px;
      top: 180px;
      line-height: 35px;
    }
  }

  .span__one {
    display: none;
  }
}

@media (max-width: 767px) {
  .natour {
    margin-top: 80px;
    height: 629px;

    &__img_top {
      width: 398px;
      height: 283px;
      right: 98px;
    }

    &__img_left {
      width: 216px;
      height: 284px;
      top: 112px;
    }

    &__img_right {
      width: 260px;
      height: 348px;
      right: 30px;
      top: 248px;
    }

    &__block_top {
      width: 600px;
      height: 273px;
      right: 0px;
      top: 59px;
    }

    &__block_buttom {
      width: 14px;
      height: 155px;
      left: 110px;
      top: 370px;
    }

    &__subtitle {
      font-size: 23px;
      left: 135px;
      top: 410px;
      line-height: 22px;
    }

    &__desc {
      font-size: 12px;
      width: 451px;
      height: 101px;
      padding: 8px 12px;
      line-height: 12px;
      letter-spacing: 2px;
      right: 65px;
      top: 530px;
    }

    &__title {
      font-size: 38px;
      right: 31px;
      top: 162px;
      line-height: 30px;
    }
  }
}

@media (max-width: 575px) {
  .natour {
    margin-top: 30px;
    height: 295px;

    &__img_top {
      width: 140px;
      height: 140px;
      right: 74px;
      top: 0;
    }

    &__img_left {
      width: 103px;
      height: 134px;
      top: 52px;
      left: 0px;
    }

    &__img_right {
      width: 140px;
      height: 164px;
      right: 0px;
      top: 116px;
    }

    &__block_top {
      width: 239px;
      height: 129px;
      right: 0px;
      top: 24px;
    }

    &__block_buttom {
      width: 6px;
      height: 73px;
      left: 23px;
      top: 171px;
    }

    &__subtitle {
      font-size: 14px;
      left: 37px;
      top: 191px;
      line-height: 12px;
      letter-spacing: 1px;
    }

    &__desc {
      font-size: 11px;
      width: 214px;
      height: 48px;
      padding-top: 3px;
      line-height: 11px;
      letter-spacing: 1px;
      right: 37px;
      top: 247px;
    }

    &__title {
      font-size: 15px;
      right: 0px;
      top: 55px;
      line-height: 13px;
      letter-spacing: 1px;
    }

    &__one {
      display: none;
    }

    &__two {
      display: none;
    }
  }
}
